<!DOCTYPE html>
<html>
  <head>
    <title> </title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="http://code.highcharts.com/maps/highmaps.js"></script>
    <script src="http://code.highcharts.com/maps/modules/data.js"></script>
    <script src="http://code.highcharts.com/mapdata/countries/us/us-all.js"></script>
  </head>
  <body>
  <div id="container" style="height: 650px; min-width: 1200px; max-width: 2000px; margin: 0 auto"></div>
  </body>
  <script src="js/us_map.js"></script>

  </html>
