<!DOCTYPE html>
<html>
  <head>
    <title> </title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="//code.highcharts.com/maps/highmaps.js"></script>
    <script src="//code.highcharts.com/maps/modules/data.js"></script>
    <script src="//code.highcharts.com/mapdata/countries/us/us-all.js"></script>
    <script src="/js/vendor/foundation.min.js"></script>
    <link rel="stylesheet" href="/css/vendor/foundation.min.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="/css/app.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body>
  <nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="/heat_map">US Visualization</a></h1>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>
  <section class="top-bar-section">
  <ul class="left">
      <li><a href="/heat_map">Heat Map</a></li>
      <li><a href="/line_graph">Line Graph</a></li>
      <li><a href="/us_map/jan_2011">US Map</a></li>
    </ul>
  </section>
  </nav>
  <div class="row">
    <div class="small-1 large-1 columns">
      <input type="button" class="tiny button" onclick="location.href='/us_map/jan_2011';" value="January 2011" />
    </div>
    <div class="small-1 large-1 columns">
      <input type="button" class="tiny button" onclick="location.href='/us_map/feb_2011';" value="February 2011" />
    </div>
    <div class="small-1 large-1 columns">
      <input type="button" class="tiny button" onclick="location.href='/us_map/mar_2011';" value="March 2011" />
    </div>
    <div class="small-1 large-1 columns">
      <input type="button" class="tiny button" onclick="location.href='/us_map/apr_2011';" value="April 2011" />
    </div>
    <div class="small-1 large-1 columns">
      <input type="button" class="tiny button" onclick="location.href='/us_map/may_2011';" value="May 2011" />
    </div>
    <div class="small-1 large-1 columns">
      <input type="button" class="tiny button" onclick="location.href='/us_map/june_2011';" value="June 2011" />
    </div>
    <div class="small-1 large-1 columns">
      <input type="button" class="tiny button" onclick="location.href='/us_map/july_2011';" value="July 2011" />
    </div>
    <div class="small-1 large-1 columns">
      <input type="button" class="tiny button" onclick="location.href='/us_map/aug_2011';" value="August 2011" />
    </div>
    <div class="small-1 large-1 columns">
      <input type="button" class="tiny button" onclick="location.href='/us_map/sept_2011';" value="September 2011" />
    </div>
    <div class="small-1 large-1 columns">
      <input type="button" class="tiny button" onclick="location.href='/us_map/oct_2011';" value="October 2011" />
    </div>
    <div class="small-1 large-1 columns">
      <input type="button" class="tiny button" onclick="location.href='/us_map/nov_2011';" value="November 2011" />
    </div>
    <div class="small-1 large-1 columns">
      <input type="button" class="tiny button" onclick="location.href='/us_map/dec_2011';" value="December 2011" />
    </div>
  </div>
  <div class="row">
    <div class="small-1 large-1 columns">
      <input type="button" class="tiny button" onclick="location.href='/us_map/jan_2012';" value="January 2012" />
    </div>
    <div class="small-1 large-1 columns">
      <input type="button" class="tiny button" onclick="location.href='/us_map/feb_2012';" value="February 2012" />
    </div>
    <div class="small-1 large-1 columns">
      <input type="button" class="tiny button" onclick="location.href='/us_map/mar_2012';" value="March 2012" />
    </div>
    <div class="small-1 large-1 columns">
      <input type="button" class="tiny button" onclick="location.href='/us_map/apr_2012';" value="April 2012" />
    </div>
    <div class="small-1 large-1 columns">
      <input type="button" class="tiny button" onclick="location.href='/us_map/may_2012';" value="May 2012" />
    </div>
    <div class="small-1 large-1 columns">
      <input type="button" class="tiny button" onclick="location.href='/us_map/june_2012';" value="June 2012" />
    </div>
    <div class="small-1 large-1 columns">
      <input type="button" class="tiny button" onclick="location.href='/us_map/july_2012';" value="July 2012" />
    </div>
    <div class="small-1 large-1 columns">
      <input type="button" class="tiny button" onclick="location.href='/us_map/aug_2012';" value="August 2012" />
    </div>
    <div class="small-1 large-1 columns">
      <input type="button" class="tiny button" onclick="location.href='/us_map/sept_2012';" value="September 2012" />
    </div>
    <div class="small-1 large-1 columns">
      <input type="button" class="tiny button" onclick="location.href='/us_map/oct_2012';" value="October 2012" />
    </div>
    <div class="small-1 large-1 columns">
      <input type="button" class="tiny button" onclick="location.href='/us_map/nov_2012';" value="  November 2012" />
    </div>
    <div class="small-1 large-1 columns">
      <input type="button" class="tiny button" onclick="location.href='/us_map/dec_2012';" value="  December 2012" />
    </div>
  </div>
    <div id="container" style="height: 650px; min-width: 1200px; max-width: 2000px; margin: 0 auto"></div>
  </body>
  <script src="/js/us_map.js"></script>
</html>
